src/main/java/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="OnlineShop">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="foodProducts" type="FoodProductsType"/>
                <xs:element name="nonFoodProduct" type="NonFoodProductsType"/>
                <xs:element name="discountedItems" type="DiscountedItemsType"/>
                <xs:element name="services" type="ServicesType"/>
                <xs:element name="users" type="UsersType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="FoodProductsType">
        <xs:sequence>
            <xs:element name="FoodProduct" type="FoodProductType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FoodProductType">
        <xs:sequence>
            <xs:element name="cost" type="xs:decimal"/>
            <xs:element name="productId" type="xs:string"/>
            <xs:element name="expirationDate" type="xs:dateTime"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NonFoodProductsType">
        <xs:sequence>
            <xs:element name="NonPerishebleProduct" type="NonPerishableProductType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NonPerishableProductType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="cost" type="xs:decimal"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="productId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DiscountedItemsType">
        <xs:sequence>
            <xs:element name="DiscountedItem" type="DiscountedItemType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DiscountedItemType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="discountedItemId" type="xs:string"/>
            <xs:element name="cost" type="xs:decimal"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ServicesType">
        <xs:sequence>
            <xs:element name="Service" type="ServiceType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ServiceType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="serviceId" type="xs:string"/>
            <xs:element name="cost" type="xs:decimal"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="serviceProvider" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UsersType">
        <xs:sequence>
            <xs:element name="User" type="UserType" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="UserType">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element name="debitCard" type="DebitCardType"/>
            <xs:element name="basket" type="BasketType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DebitCardType">
        <xs:sequence>
            <xs:element name="cardNumber" type="xs:string"/>
            <xs:element name="active" type="xs:boolean"/>
            <xs:element name="moneyAmount" type="xs:decimal"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddressType">
        <xs:sequence>
            <xs:element name="deliveryAddress" type="xs:string"/>
            <xs:element name="deliveryAddressId" type="xs:string"/>
            <xs:element name="userId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BasketType">
        <xs:sequence>
            <xs:element name="basketId" type="xs:string"/>
            <xs:element name="foodProductList" type="FoodProductListType" minOccurs="0"/>
            <xs:element name="nonPerishebleProductList" type="NonPerishableProductListType" minOccurs="0"/>
            <xs:element name="discountedItemList" type="DiscountedItemListType" minOccurs="0"/>
            <xs:element name="serviceList" type="ServiceListType" minOccurs="0"/>
            <xs:element name="sumCost" type="xs:decimal"/>
            <xs:element name="date" type="xs:dateTime"/>
            <xs:element name="address" type="AddressType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FoodProductListType">
        <xs:sequence>
            <xs:element name="FoodProduct" type="FoodProductType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NonPerishableProductListType">
        <xs:sequence>
            <xs:element name="NonPerishebleProduct" type="NonPerishableProductType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DiscountedItemListType">
        <xs:sequence>
            <xs:element name="DiscountedItem" type="DiscountedItemType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ServiceListType">
        <xs:sequence>
            <xs:element name="Service" type="ServiceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>